@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

* {
  font-family: "Noto Sans", "Noto Sans TC", "Noto Sans JP", sans-serif;
}

body::before {
  content: "";
  display: block;
  height: 56px;
}

.avatarImg {
  height: 10rem;
  width: 10rem;
}
